<%= form_with(url: semester_course_enrolls_path, method:"post",  class:'form', id:'select_all_course') do |form| %>

  <%# if enroll.errors.any? %>
<!--    <div id="error_explanation">-->
<!--      <h2><%#= pluralize(enroll.errors.count, "error") %> prohibited this enroll from being saved:</h2>-->

<!--      <ul>-->
        <%# enroll.errors.full_messages.each do |message| %>
<!--          <li><%#= message %></li>-->
        <%# end %>
<!--      </ul>-->
<!--    </div>-->
  <%# end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.number_field :student_id %>
  </div>

  <div class="field">
    <%= form.label :semester_id %>
    <%#= form.text_field :semester_id %>
    <%= form.select :semester_id, Semester.all.pluck(:semestername, :semesterid),{prompt:'select'},{class: "form-control"}%>
  </div>

  <div class="field">
    <%= form.label :Courses %> :
    <br/>
    <% @curriculums = Curriculum.all %>
    <% @curriculums.each do |curr| %>
      <%= curr.coursename %>
      <%= check_box_tag name='selected_course_ids[]', value  = curr.courseid %>
    <% end %>
  </div>



  <div class="field">
    <%= form.label :semester_curriculums_id %>
    <%= form.text_field :semester_curriculums_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
