<!Doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script type="text/javascript">
      function togglemenu(){
          document.getElementById('sidebar').classList.toggle('active');
          document.getElementById('main-col').classList.toggle('active');
          // $(document).ready(function(){
          //
          //         $("nav-link").toggleClass("nav-link active");
          //     });

      }
  </script>
</head>
<div class="row grow w-100">
  <div class="col-12  py-3 "style="background-color: #231832" >

    <h2 class="text-center text-light"> Course Registration system </h2>

  </div>

  <div class="col-3 py-3 h-200 w-5  text-light  "  style="background-color: #161B38" id="sidebar" >

    <div class="toggle-btn" onclick="togglemenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <br>
    <br>



    <h3 class="text-bg-secondary large"> Menu </h3>


    <ul class="navbar-nav me-auto mb-2 mb-lg-0 bold " >
      <li class="nav-item text-center border border-white border-start-0 border-end-0 text-wrap  badge " > <%= link_to 'Home', home_index_path, class:"nav-link" %></li>

      <% if user_signed_in? %>
        <% puts("********") %>
        <% puts(current_user.is_admin?) %>
      <li class="nav-item text-center border border-white border-start-0 border-end-0 text-wrap  badge" > <%= link_to 'Edit User Profile', edit_user_registration_path, class:"nav-link" %></li>

        <% if current_user.is_admin == true  %>
          <%# puts(current_user.name) ;%>
        <li class="nav-item text-center border border-white border-start-0 border-end-0 text-wrap  badge" > <%= link_to 'Admin', admin_index_path, class:"nav-link" %></li>
         <% else %>
          <li class="nav-item text-center border border-white border-start-0 border-end-0 text-wrap  badge" > <%= link_to 'Student', students_path, class:"nav-link" %></li>
          <% end %>
        <li class="nav-item text-center border border-white border-start-0 border-end-0 text-wrap  badge" > <%= button_to 'Sign_OUT', destroy_user_session_path, method: :delete, class:"btn btn-danger right" %></li>


      <% else %>
        <li class="nav-item text-center border border-white border-start-0 border-end-0 text-wrap  badge" > <%= link_to 'Sign_UP', new_user_registration_path, class:"nav-link" %></li>
        <li class="nav-item text-center border border-white border-start-0 border-end-0 text-wrap  badge" > <%= link_to 'Sign_IN', new_user_session_path, class:"nav-link" %></li>

    <% end %>


    </ul>






  </div>
  <div>
  <div class="main col-12- bg-light min-vh-100 py-3" id="main-col" >
    <h4>Main</h4>
    <%= yield %>
    <p class="mb-5">.</p>
  </div>
  </div>
</div>
<div class="row w-100">
  <div class="text-center p-3 position-sticky bottom-0 text-light" style="background-color: #231832">
    © 2022 Copyright:
    <a class="text-light" href="https://github.com/nishatlea">Nishat Lea </a>
  </div>
</div>
</html>